<!DOCTYPE html>
<html>
<head>
<title>Message Passing System Demo</title>
<style>
.center {
    display: block;
    margin: auto;
    width: auto;
    padding-left: 36%;
}
img {
    display: block;
    margin: 0 auto;
}
</style>
</head>
<body>
<h1 align='center'>Message Passing System </h1>
<img src="http://res.cloudinary.com/srn/image/upload/v1478114156/Selection_001_mws6rn.png">
<div class="center">
<input type=button onClick="parent.open('http://raviranjan.xyz/demo/sendmsg')" value='Send Message' >
<input type=button onClick="parent.open('http://raviranjan.xyz/demo/viewmsg')" value='Show Received Messages' >
<input type=button onClick="parent.open('https://github.com/ravirnjn88/helloworld')" value='Github Link' >
</div>
</body>
</html>
